
<div class="image">
<h1>{{title}}</h1>


    <p class="p" style="text-align:center" >Welcome to {{title}}</p>

    <a href="./people">People</a>
    <a href="./planets">Planets</a>
    <a href="./films">Films</a>
    <a href="./species">Species</a>

</div>
